:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    border: 1px solid #ddd;
    text-align: center;
}

.empty {
    height: 80px;
}

.clicked-bomb {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('cat.jpg');
}

.clicked-notbomb-m {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('mozin.jpg');
}

.clicked-notbomb-r {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('ruan.jpeg');
}

.info {
    display: inline;
}

h1, #input-div{
    text-align: center;
}

.cat {
    width: 100%;
}